body{
    background-color: lightgrey;

}

nav{
    background-color: dimgrey;
    text-align: center;
    color: white;
    height: 6vh;
}

.tophalf{
    height: 60vh;
    background-color: white;
    text-align: center;
}

.column1{
    background-color: darkblue;
    text-align: center;
    color: white;
}

.column2{
    background-color: darkgreen;
    text-align: center;
    color: white;
}

.jumbotron{
    height: 30vh
}

footer div{
    background-color: darkslateblue;
    text-align: center;
    color: white;
    height: 4vh;
    width: 50%;
    float: left;
}